@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(238, 235, 235);
}

.container {
    display: grid;
    width: 550px;
    height: 550px;
    box-shadow: 0 0 10px grey;
    margin-top: 10px;
    background-color: white;
}

.heading {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}





